html, body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	background-image: url("../img/background.jpg");
	background-repeat: repeat-y;
	background-color: #1E69B3;
	background-size: 300px;
	width:100%;
}

.navbar-pink {
	background-color: #CC6699 !important;
	text-align: right;
}

.container{
	background-color: white;
	border: 1px solid black;
	box-shadow: 0px 10px 16px #888888;
	min-height:100%;
	position:relative;
}

.content{
    margin-top:20px;
	padding-top:6em;
	margin-bottom: 90px;
}

.app-logo{
	left:0;
	right:0;
	padding:5px;
	background-color:black;
	color:white;
	position:fixed;
	z-index:100;
	height:4em;
}

#footer {
        /*padding-top:50px;*/
		width:85%;
		text-align:right;
		position:absolute;
		bottom:0;
		height:70px;			/* Height of the footer */
		margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
}

.app-logo a { color: white; text-decoration: none; }
.logo-text{	float:left; font-size:2em; }
.logo-menu{	float:right; padding-top:1em; }
.hidden { visibility: hidden; }
/* ** UPLOAD - pupload.html ***   */
/* hack for hiding default WTF label for file input - TO DO */
.upload .form-group .control-label{ display:none; }

/* ** POST UPLOAD - postupload.html ***   */
.postupload img { max-width : 100%; }
.postupload h2 { padding-bottom:30px; }
.postupload .form-group input { margin-right:10px; }
.postupload .form-group .checkbox { padding-top: 5px; padding-bottom: 5px; }
.postupload .buttons-group { margin-top:20px; }
.postupload .buttons-group .btn-light { margin-bottom: 10px; }
/*.postupload .buttons-group .js-toggle-original { display: none; }*/
.postupload .spinner-grow { display:none; }
.postupload .spinner-border { display:none; margin:10px; }
.postupload .badges-list  { cursor:pointer; }
.postupload .badges-list .badge-light { color:silver; }
.postupload .results-cropped { width:96%; background-color:whitesmoke; max-height:300px; overflow:scroll; }
.postupload .results-cropped img { margin:2px; display:none;}

.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; }
	
/* ** CUSTOM CHECKBOX *** */
/*
 * code courtesy of Milos Protic - https://dev.to/proticm/styling-html-checkboxes-is-super-easy-302o
 */
.checkbox label {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox label > span {
    color: #1E69B3;
    padding: 0.5rem 0.25rem;
}

.checkbox label > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #1E69B3;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
  }

.checkbox label > input:checked {
    border: 1px solid #fff;
    background-color: #1E69B3;
}

.checkbox label > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox  label > input:active {
    border: 2px solid #1E69B3;
}

/* https://stackoverflow.com/questions/14824747/overlay-html5-canvas-over-image */

/*.outsideWrapper
{ 
    width:906px; height:680px;
    border:1px solid blue;
}*/
.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredImage{ 
    /*width:100%; height:100%; */
    position:absolute; top:0px; left:0px;
}
.defaultCanvas{ 
    /*width:100%; height:100%; */
    position:absolute; top:0px; left:0px;
    background-color: rgba(0,0,0,0);
}