{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
			<title>{{ title }} - OCR App</title>
		{% else %}
			<title>OCR App</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- NOTY START -->
		<script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/nest.css">
		<!-- NOTY END -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script/main.js') }}" async></script>
	</head>
	<body>
		<div class="app-logo">
			<div class="logo-text">
    			<a href="/index">OCR App</a>
			</div>
			<div class="logo-menu">
				<a href="{{ url_for('index') }}">Home</a> * 
				<a href="{{ url_for('upload') }}">Upload</a> *
				<a href="{{ url_for('example') }}">Example</a>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="container">
			<div class="content">
				<div class="col-sm-10 offset-sm-1"></div>
				<div class="row">
					<div class="col-sm-10 offset-sm-1">
						
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								<ul>
									{% for message in messages %}
									<li>{{ message }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						{% endwith %}
						
						{% block content %}{% endblock %}
					</div>
				</div>
				
				<div id="footer">
					© Ileana Profeanu
				</div>
			</div>
		</div>
	</body>
</html>
