<div class="row">
    <div class="col-sm-4">
        <h2>Next steps...</h2>
        <!--form-->
        <div class="form-group">     
            {{ wtf.form_field(postUploadForm.preprocessing, class="checkbox", checked=True) }}
            {{ wtf.form_field(postUploadForm.segmentation, class="checkbox", checked=True) }}
            {{ wtf.form_field(postUploadForm.recognition, class="checkbox", checked=True) }}
            {{ wtf.form_field(postUploadForm.submit, class="btn btn-primary js-submit") }}
            <button type="button" class="btn btn-default js-return-to-upload">Try Another Image</button>
        </div>
        <!--/form-->
  
    </div>
    <div class="col-sm-8">
        <img src="" class="js-image" />
    </div>
</div>