<div class="row">
    <div class="col-sm-4">
        <h2>Next steps...</h2>
        <div class="form-group">     
            
            <div class="checkbox">
              <label>
                  <input checked="true" class="js-checkbox-preprocessing" name="preprocessing" type="checkbox" value="y">
                  Image Preprocessing            
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input checked="true" class="js-checkbox-segmentation" name="segmentation" type="checkbox" value="y">  
                  Image Segmentation            
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input checked="true" class="js-checkbox-recognition" name="recognition" type="checkbox" value="y">
                  Text Recognition      
              </label>
            </div>
            <div class="buttons-group">
                <div class="floatLeft">
                    <button type="button" class="btn btn-primary js-apply">Apply</button>
                </div>
                <div class="floatRight">
                    <button type="button" class="btn btn-light js-return-to-upload">Try Another Image</button><br/>
                    <button type="button" class="btn btn-light js-toggle-original">See Original</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <img src="" class="js-image" />
    </div>
</div>